/* 
    Created on : 25 sept. 2024, 19:22:34
    Author     : Juanma
*/

body {
    font-family: Tahoma, sans-serif; 
    background-color: #f4f4f9; 
    margin: 0;
    padding: 0;
}

h1 {
    background-image: linear-gradient(to left, red, yellow, orchid, aqua, orange);
    justify-content: center;
    display: flex;
    padding: 20px;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 24px;
    border: 5px solid black;
    border-radius: 10px;
}
h2{
    text-align: center;
    background-image: linear-gradient(to left, red, yellow, red);
    border: 3px solid black;
    border-radius: 20px;
    padding: 15px;
    margin-left: 25%;
    margin-right: 25%;
}

.flex-container {
    display: flex;
    justify-content: space-between; 
    margin: 20px; 
}

#controladores, #jsp {
    width: 49%; 
    border: 2px solid black;
}

.controladores {
    display: flex;
    flex-direction: column; 
}

li {
    font-family: cursive;
    filter: drop-shadow(2px 2px 1px cyan);
}

a {
    font-weight: bold;
}

.button {
    display: inline-block; 
    padding: 10px 30px; 
    font-size: 15px; 
    color: white; 
    background-color: black; 
    border-radius: 20px; 
    text-decoration: none; 
    text-align: center; 
    transition: background-color 0.8s, transform 0.5s; 
}

a.button:hover {
    background-color: blue;
    transform: scale(1.35);
    color: white;
}