body {
    font-family: Tahoma, sans-serif;
    background-color: #f0f4f8;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contenedor {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid blue;
    width: 45%;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 10px 10px 100px blue;
}
h1{
    filter: drop-shadow(2px 2px 1px greenYellow);
    font-weight: 900;
}
table {
    width: 100%;
    margin-top: 20px;
}
th, td {
    padding: 10px;
    text-align: center;
}
th {
    background-color: #0073e6;
    color: white;
}
input[type="submit"]{
    padding: 10px 20px;
    background: red;
    border-radius: 15px;
    border: 3px solid black;
    color: white;
    transition: background 0.3s;
}

input[type="submit"]:hover{
    background: green;
}

input[type="submit"]:active{
    background: plum;
}