body {
    font-family: Tahoma, sans-serif;
    background-color: #f0f4f8;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedor {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid blue;
    width: 60%;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 100px blue;
}
a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3;
}

p{
    text-align: center;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0, 114, 255, 0.6);
    transition: transform 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

h1:hover {
    transform: scale(1.1);
}